


body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('src/images/pinkpaper2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  padding-right: 20px;
  background: rgba(248, 248, 197, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-bottom: 5px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: rgba(151, 180, 237, 0.3);
}

button {
  display: block;
  margin: auto;
  background-color: rgba(118, 48, 129, 0.8);
  color: #fff;
  padding: 20px 40px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(119, 22, 119, 0.8);
}