@font-face {
    font-family: 'CustomFont';
    src: url('../assets/Myfont1-Regular.otf') format('opentype'),
         url('../assets/Myfont1-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.navbar {
    position: fixed; /* Ensures the navbar stays at the top */
    top: 0;
    left: 0;
    width: 100%; /* Spans the full width of the page */
    z-index: 1000; /* Keeps the navbar above other content */
    background-color: #fff; /* Ensures a visible background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for distinction */
    padding: 10px 20px; /* Adjust padding as needed */
    font-family: 'CustomFont';
}

body {
    padding-top: 60px; /* Adjust based on your navbar height */
}

.navbar-container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Centers the navbar content */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand a {
    text-decoration: none;
    font: 'CustomFont';
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-links li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    transition: color 0.3s;
    font-size: 1.5em;
}

.navbar-links li a:hover {
    color: #f8f8c5; /* Hover color */
}

.nav-links button {
    margin-right: 10px; /* Space between buttons */
    padding: 8px 16px; /* Adjust button size */
    white-space: nowrap; /* Prevent buttons from breaking into multiple lines */
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column; /* Stack items vertically */
    }

    .nav-links button {
        margin: 5px 0; /* Reduce margins between buttons */
    }
}