.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
    color: rgb(0, 0, 0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-links li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-links li a:hover {
    color: #f8f8c5; /* Hover color */
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .navbar-links.active {
        display: flex;
    }
}